.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    position: relative;
    margin-top: 20px;
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}